<form (submit)="submit()">
  <modal (onHide)="hideModal($event)">
    <h5 modal-title>Editar Categoria - {{category.name}}</h5>
    <div modal-body>
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" required
               [(ngModel)]="category.name" placeholder="Crie sua nova Categoria">
        <small id="emailHelp" class="form-text text-muted">Cadastro de categorias...</small>
      </div>
    </div>
    <div modal-footer>
      <button type="button" style="margin-right : 1rem" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary" >Incluir</button>
    </div>
  </modal>
</form>
