<div class="container">
  <div class="my-lg-4">
    <h5>Listagem de categorias  </h5>
  </div>
  <div class="my-4">
    <button class="btn btn-sm btn-facebook  " type="submit" data-toggle="modal"
            (click)="categoryServiceInsert.showModalInsert()"
            data-target="#modalExemplo">Nova Categoria
    </button>
  </div>
  <div class="row my-4">
    <table class="table table-striped">
      <thead>

      <tr>
        <th style="width: 5%">#</th>
        <th style="width: 60%">Nome</th>
        <th style="width: 5%">Status</th>
        <th style="width: 25%">Criado em:</th>
        <th style="width: 10%">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categories | paginate: {
      itemsPerPage: paginacao.per_page ,
      currentPage: paginacao.page,
      totalItems: paginacao.totalItems
       };">
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td style="text-align: center">
          <i style="font-size: 1em; "
             class="fas"
             [ngStyle]="{'color': category.active === true ?  'green' :'red'}"
             [ngClass]="{'fa-check': category.active, 'fa-times ': !category.active}">
          </i></td>
        <td>{{category.created_at.date| date: 'dd/MM/yyyy'}}</td>
        <td>
          <a href="javascript:void(0)"></a>
          <a href="javascript:void(0)" (click)="categoryServiceEdit.showModalEdit(category.id)"><i
            class="fas fa-edit"></i></a> |
          <a href="javascript:void(0)" (click)="categoryServiceDelete.showModalDelete(category.id)"><i
            class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
      <pagination-controls
      (pageChange)="paginacao.page  = pageChanged($event)"
      previousLabel="Anterior"
      nextLabel="Próximo"
    ></pagination-controls>
  </div>
</div>
<category-new-modal
  (onSuccess)="categoryServiceInsert.onInsertSuccess($event)"
  (onError)="categoryServiceInsert.onInsertError($event)"
></category-new-modal>
<category-edit-modal
  [categoryId]="categoryId"
  (onSuccess)="categoryServiceEdit.onEditSuccess($event)"
  (onError)="categoryServiceEdit.onEditError($event)"
></category-edit-modal>

<category-delete-modal
  [categoryId]="categoryId"
  (onSuccess)="categoryServiceDelete.onDeleteSuccess($event)"
  (onError)="categoryServiceDelete.onDeleteError($event)"
></category-delete-modal>

