<div class="container">
  <div class="my-lg-4">
    <h5>Listagem de categorias</h5>
  </div>
  <div class="my-4">
    <button class="btn btn-sm btn-facebook  " type="submit" data-toggle="modal" data-target="#modalExemplo">Nova
      Categoria
    </button>
  </div>
  <div class="row my-4">
    <table class="table table-striped">
      <thead>

      <tr>
        <th style="width: 5%">#</th>
        <th style="width: 60%">Nome</th>
        <th style="width: 5%">Ativa</th>
        <th style="width: 25%">Criado em</th>
        <th style="width: 10%">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categories">
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td style="text-align: center">
          <i style="font-size: 1em; "
             class="fas"
             [ngStyle]="{'color': category.active === true ?  'green' :'red'}"
             [ngClass]="{'fa-check': category.active, 'fa-times ': !category.active}">
          </i></td>
        <td>{{category.created_at.date| date: 'dd/MM/yyyy'}}</td>
        <td>{{category.id}}</td>
      </tr>


      </tbody>
    </table>
  </div>
  <button class="btn btn-sm btn-facebook  " type="button" data-toggle="modal" (click)="showModal()">Nova Categoria -
    Programação
  </button>
</div>
<form (submit)="submit()">
  <modal>
    <div modal-title>Nova Categoria</div>
    <div modal-body>
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" required
               [(ngModel)]="category.name" placeholder="Crie sua nova Categoria">
        <small id="emailHelp" class="form-text text-muted">Cadastro de categorias...</small>
      </div>
    </div>
    <div modal-footer>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary">Incluir</button>
    </div>
  </modal>
</form>


<!--<form (submit)="submit()">-->
<!--<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--aria-hidden="true">-->
<!--<div class="modal-dialog" role="document">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<h5 class="modal-title" id="exampleModalLabel">Nova Categoria</h5>-->
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="modal-body">-->

<!--<div class="form-group">-->
<!--<label for="name">Nome</label>-->
<!--<input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" required-->
<!--[(ngModel)]="category.name" placeholder="Crie sua nova Categoria">-->
<!--<small id="emailHelp" class="form-text text-muted">Cadastro de categorias...</small>-->
<!--</div>-->

<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>-->
<!--<button type="submit" class="btn btn-primary">Incluir</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->


